{% extends "base.html" %}
{% block title %}<title>New Task</title>{% endblock %}
{% block content %}

<div class="max-w-3xl mx-auto px-4 mt-10">

    
 <!---- Page heading ---->   
 <h1 class="text-3xl font-bold text-center mb-6"> Create a new task </h1>


 <!---- Create new task form ---->
 <form action="" method="POST">
    <label class="block font-semibold mb-1" for="title">Title:</label>
    <input class="w-full border border-gray-300 rounded px-3 py-2" type="text" name="title" maxlength="100" required>
    <br><br>

    <label class="block font-semibold mb-1" for="description">Description:</label>
    <textarea class="w-full border border-gray-300 rounded px-3 py-2" name="description" maxlength="500"></textarea>
    <br><br>

    <label class="block font-semibold mb-1" for="priority">Priority:</label>
    <select class="w-full border border-gray-300 rounded px-3 py-2" name="priority" required>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
    </select>
    <br><br>

    <label class="block font-semibold mb-1" for="due_date">Due Date:</label>
    <input class="w-full border border-gray-300 rounded px-3 py-2" type="date" name="due_date" required>
    <br><br>

    <label class="block font-semibold mb-1" for="status">Status:</label>
    <select class="w-full border border-gray-300 rounded px-3 py-2" name="status" required>
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
    </select>
    <br><br>
  
    
    <!---- Back button and Create task button ---->
    <div class="flex text-center space-x-124">
    <a class="back-button" href="{{ url_for('tasks') }}">Back to Tasks</a>
    <button class="create" type="submit">Create Task</button>
    
    </div>
 </form>


 <!---- Due date error flash message ---->
 <div class="text-center pt-4">
     {% with messages = get_flashed_messages() %}
     {% if messages %}
     {% for message in messages %}
        <p class="flash-message">{{ message }}</p>
     {% endfor %}
     {% endif %}
     {% endwith %}
 </div>

</div>

{% endblock %}