{% extends "base.html" %}
{% block title %}<title>New Task</title>{% endblock %}
{% block content %}

<div class="max-w-3xl mx-auto px-4 mt-10">


 <!---- Page heading ---->   
 <h1 class="text-3xl font-bold text-center mb-6">Edit Task</h1>


 <!---- Edit task form ---->
 <form method="POST">

    <label class="block font-semibold mb-1" for="title">Title:</label>
    <input class="w-full border border-gray-300 rounded px-3 py-2" type="text" name="title" value="{{ task.title }}" required>
    <br><br>

    <label class="block font-semibold mb-1" for="description">Description:</label>
    <textarea class="w-full border border-gray-300 rounded px-3 py-2" name="description" rows="4">{{ task.description }}</textarea>
    <br><br>

    <label class="block font-semibold mb-1" for="priority">Priority:</label>
    <select class="w-full border border-gray-300 rounded px-3 py-2" name="priority">
        <option value="Low" {% if task.priority=="Low" %}selected{% endif %}>Low</option>
        <option value="Medium" {% if task.priority=="Medium" %}selected{% endif %}>Medium</option>
        <option value="High" {% if task.priority=="High" %}selected{% endif %}>High</option>
    </select>
    <br><br>

    <label class="block font-semibold mb-1" for="due_date">Due Date:</label>
    <input class="w-full border border-gray-300 rounded px-3 py-2" type="date" name="due_date" value="{{ task.due_date }}">
    <br><br>

    <label class="block font-semibold mb-1" for="status">Status:</label>
    <select class="w-full border border-gray-300 rounded px-3 py-2" name="status">
        <option value="To Do" {% if task.status=="To Do" %}selected{% endif %}>To Do</option>
        <option value="In Progress" {% if task.status=="In Progress" %}selected{% endif %}>In Progress</option>
        <option value="Completed" {% if task.status=="Completed" %}selected{% endif %}>Completed</option>
    </select>
    <br><br>


    <!---- Back and Update button ---->
    <div class="flex text-center space-x-123">
    <a class="back-button" href="{{ url_for('tasks') }}">Back to Tasks</a>
    <button id="update" type="submit">Update Task</button>
    </div>
 </form>

{% endblock %}